{% extends "YuBobToWebBundle::layout.html.twig" %}

{% block title %}
	Direct - {{ parent() }}
{% endblock %}

{% block body %}
{{ parent() }}


<script>

	var ajaxUrlLastsLogs = "{{ ajaxUrlLastsLogs }}";

</script>

	<div class="f8">
		<div class="logs-header">
			<div class="log-charname f3">
				<p class="-nm">Personnage</p>
			</div>

			<div class="log-date f2">
				<p class="-nm">Date</p>
			</div>

			<div class="log-content f7">
				<p class="-nm">Log</p>
			</div>
		</div>
		<div class="logs">
		</div>
	</div>

{% endblock %}


{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/yubobtoweb/js/ajax.js') }}"></script>
{% endblock %}