<!DOCTYPE HTML>
<html>
  	<head>
    	<meta charset="utf-8">
    	<title>{% block title %}Bob To Web{% endblock %}</title>

    {# {% stylesheets '@YuBobToWebBundle/Resources/public/css/*' filter='cssrewrite' %} #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/yubobtoweb/css/logger.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/yubobtoweb/css/main.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/yubobtoweb/css/YuStyle.css') }}" type="text/css" />
        {% endblock %}	

	</head>
	<body>
    {% block body %}

      <div class="cool-phrase">

        <p class="-nm">What's up on M2Bob ?</p>

      </div>

    <div class="f2">

      <ul class="left-menu">

        <li>
          <a href="{{ path('yu_bob_to_web_manage_log_files') }}">Fichiers Logs</a>
        </li>

        <li>
          <a href="{{ path('yu_bob_to_web_homepage') }}">Logs en Direct</a>
        </li>
      </ul>
    </div>

    {% endblock %}

  	{% javascripts '@YuBobToWebBundle/Resources/public/js/jquery-2.1.1.min.js' '@YuBobToWebBundle/Resources/public/js/ajax.js' %}
  		<script type="text/javascript" src="{{ asset_url }}"></script>
  	{% endjavascripts %}
  	</body>


</html>